.dashboard {
    display: flex;
    // height: calc(100vh - 65px);

    .sidebarWrapper {
        display: flex;
        flex: 2;
        // border: 1px solid black;
    }

    .postsWrapper {
        display: flex;
        flex-direction: column;
        flex: 4.5;
        // border: 1px solid black;
        // justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .rightSideWrapper {
        display: flex;
        flex: 2;
        // border: 1px solid black;
    }
}
