@use "../../scss/colors";

.parent1 {
    // width: 90%;
    background-color: white;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    // padding-left: 25px;
    // padding-top: 20px;
    padding: 20px 25px;
    border-radius: 10px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.child1 {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.child2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-right: 15px;
    padding-left: 10px;
}

.fieldDiv {
    display: flex;
    flex-direction: column;
    .textField0 {
        font-family: "Poppins", sans-serif;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        letter-spacing: 0.02em;
        color: colors.$grey;
        padding-top: 5px;
        padding-bottom: 2px;
        // width: 90%;
        height: 25px;
        display: flex;
        border: 0px;
        border-bottom: 1px solid colors.$hr-grey;

        outline: none;
    }

    .textField1 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        letter-spacing: 0.02em;
        color: colors.$grey;
        padding-top: 10px;
        height: 50px;
        margin-bottom: 50px;
        width: 90%;
        border: 0px;
        outline: none;
    }
}

.buttoncnp {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: colors.$primary;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 800;
    border: 0px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
        margin-right: 5px;
    }
    &:hover {
        filter: brightness(1.2);
    }
}

// .createhr {
//     padding-bottom: 0px;
//     margin: 0px;
//     width: 551px;
//     height: 0px;
//     border: 0.3px solid colors.$hr-grey;
// }
.createhr {
    // border: 1px solid black;
    width: 100%;
    height: 0.3px;
    background: colors.$hr-grey;
    border: none;
    margin: 0;
}

.subnav {
    padding-top: 10px;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    width: 550px;

    .subnavico {
        color: colors.$primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60px;
    }
}

.bottom {
    display: flex;
    flex-direction: column;
}
