@use '../../scss/colors';

.DashboardNavbar {
	display: flex;
	height: 65px;
	background-color: colors.$primary-bg;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px;
	box-sizing: border-box;
	position: sticky;
	top: 0px;

	.rightSide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 200px;

		.iconButtons {
			display: flex;
			width: 100px;
			align-items: center;
			justify-content: space-between;
		}

		.createPost,
		.astracoins,
		.notifications,
		.avatar {
			display: flex;
			cursor: pointer;
			align-items: center;
			justify-content: center;
		}
		.createPost,
		.astracoins {
			// color: white;
			transition: filter 300ms;
			border-radius: 5px;
			background-color: colors.$primary-bg;
			height: 40px;
			width: 40px;
			&:hover {
				filter: brightness(1.2);
			}
		}

		.createPost {
			color: white;
		}
		.chevronDown {
			height: 15px;
			color: colors.$grey;
		}
	}

	.logout {
		height: 30px;
	}
}
