@use "../../scss/colors";

.commentBox {
    margin-top: 23px;
    padding: 0 40px;

    .header {
        display: flex;
        align-items: flex-start;

        input {
            height: 30px;
            width: 100%;
            margin-left: 15px;
            border: none;
            border-bottom: 1px solid colors.$hr-grey;
            outline: none;
            font-size: 16px;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        button {
            width: 105px;
            height: 30px;
            background-color: colors.$primary;
            color: white;
            border: none;
            border-radius: 2px;
            font-size: 12px;
            font-weight: 800;
            cursor: pointer;
            &:hover {
                filter: brightness(1.1);
            }
        }

        margin-bottom: 15px;
    }
}
