@use "../../scss/colors";

.buyacon {
    padding-left: 20px;
    margin: 20px 10px;
    width: 705px;
    height: 500px;
    left: 351px;
    top: 130px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #000000;

    .buyaconb {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 9px 6px;
        position: absolute;
        width: 683px;
        height: 450px;

    }

    .title {
        font-style: normal;
        font-weight: 900;
        font-size: 21px;
        line-height: 31px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        margin-top: 0px;
        margin-bottom: 5px;
        padding-top: 15px;
    }

    .tcon {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        margin: 0px 0px;

    }

    .stitle {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .pricingbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        position: static;
        width: 672px;
        height: 232px;
        left: 6px;
        top: 209px;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 14px 0px;
    }

    .pricecard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        position: static;
        width: 200px;
        height: 232px;
        left: 26px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }

    .pricecardcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 20px;
        position: static;
        width: 151px;
        height: 215px;
        left: 24.5px;
        top: 17px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 14px 0px;
    }

    .recom {
        padding-top: 15px;
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1em;
        color: colors.$primary;
    }

    .packtitle {
        padding-top: 15px;
        padding-bottom: 0px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
    }

    .probutton {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 151px;
        height: 40px;
        background: colors.$primary-bg;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            filter: brightness(1.2)
        }
    }

    .proceed {
        align-self: center;
        align-content: center;
        align-items: center;
        padding-left: 45px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
        color: #FFFFFF;
    }

    .curprice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        width: 124px;
        height: 60px;
        left: 13.5px;
        top: 62px;
        flex: none;
        flex-grow: 0;
        margin: 15px 0px;

    }

    .astraprice {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: colors.$primary;
        fill: colors.$primary;
    }

    .ethprice {
        font-style: normal;
        font-weight: normal;

    }


}